<form action="/Template/Copy/2a8ebfa6b1994984b6c60dc88d97b6be" class="form-horizontal" data-ajax="true" data-ajax-method="Post" data-ajax-success="Success" id="form0" method="post" role="form">    <input type="hidden" name="opType" value="4" />
<input id="SourceTemplateId" name="SourceTemplateId" type="hidden" value="2a8ebfa6b1994984b6c60dc88d97b6be" />    <div class="form-horizontal">


        <div class="form-group">
            <label class="control-label col-md-2" for="SourceTemplateName">源模板</label>
            <div class="col-md-10">
                H5遇见时尚新接口模板
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">模板名称</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="模板名称不能为空！" id="Name" name="Name" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>
</form>